In [14]:
import pandas as pd
import plotly as pl
import seaborn as sb

In [10]:
dataset = pd.read_csv("data/disney_plus_titles.csv")

In [11]:
dataset.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

### This dataset has 1450 rows in 12 columns

In [12]:
dataset.shape

(1450, 12)

### Possible insights that can be uncovered from this dataset

- Titles volume by Year
- What type has the largest number of titles
- Which ratings prevail among Disney Plus titles
- What is the Movie to TV Show ratio on Disney Plus and how it changes over the years
- What is the share of Animated movies/shows on Disney Plus
- What is the average Movie duration on Disney Plus

### Checking Nulls in columns

In [13]:
dataset.isnull().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

Some records have Nulls in 5 columns (director, cast, country, date_added, rating). Since we're not going to use cast or country in our analysis we can remove those columns from the dataset. As for director column we'll create separate sub-dataset with records with value in this column.
There are 3 records with missing date_added and 3 records with missing rating. Since it is a very small share of total records (1450) we can safely drop those rows.

In [26]:
##Dropping columns 'cast' and 'country' and taking only rows where there is no Null in 'date_added' and 'rating'
df = dataset.drop(['cast', 'country'], axis=1)
df.dropna(subset = ['date_added', 'rating'])
df.isnull().sum()

show_id           0
type              0
title             0
director        473
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [27]:
df.dropna(subset = ['date_added', 'rating'])
df.isnull().sum()

show_id           0
type              0
title             0
director        473
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

### First, let's answer the question "What is the number of titles added each year?"